.article{
    width: 100%;

    .loading{
        .spinner{
            margin: 12.5rem auto;
        }
    }

    .content-wrap{
        width: 112.5rem;
        margin-top: 10rem;
        margin-right: auto;
        margin-left: auto;

        header{
            width: 100%;
            position: relative;
            overflow: hidden;

            .icon-wrap{
                width: 100%;
                height: 5.625rem;

                img{
                    width: 5.625rem;
                    height: 5.625rem;
                    margin: 0 auto;
                    display: block;
                }
            }

            .border-2px{
                width: 30%;
                height: .2rem;
                background: #e5e5e5;
                position: absolute;
                top: 8.5rem;
                left: 50%;
                transform: translateX(-50%);
            }

            h2{
                font-size: 2.5rem;
                font-weight: 600;
                text-align: center;
                line-height: 10rem;
                margin-top: 2.5rem;
            }
        }

        .content-main{
            background: #fff;
            border-radius: .6rem;
            box-shadow: 0 .2rem 0 0 #e5e5e5;
            margin-top: 5rem;
            margin-bottom: 10rem;

            .content{
                padding: 6.25rem;
                color: #333;
                letter-spacing: .12rem;
                text-align: left;
                word-wrap: break-word;
                line-height: 3.125rem;
                font-size: 1.5rem;

                p{
                    code{
                        font-weight: bold;
                        font-size: 1.875rem;
                    }

                    a{
                        color: #4ba6ad;
                    }

                    img{
                        width: 100%;
                    }
                }

                h2{
                    font-size: 2.125rem;
                    line-height: 4.375rem;
                    font-weight: 600;
                }

                h3{
                    font-size: 1.875rem;
                    line-height: 3.75rem;
                    font-weight: 600;
                }

                h4{
                    line-height: 3.75rem;
                    font-weight: 600;
                }
            }
        }
    }

    .back-top{
        position: fixed;
        right: 6rem;
        bottom: 4rem;
        height: 3.2rem;
        width: 3.2rem;
        cursor: pointer;
    
        .back-top-content{
            height: 3.2rem;
            width: 3.2rem;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.45);
            overflow: hidden;
            transition: all .3s cubic-bezier(.645,.045,.355,1);
            
            &:hover{
                background-color: rgba(0,0,0,.65);
            }
    
            .back-icon{
                position: absolute;
                width: 1.6rem;
                height: 1.6rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}