html{
    font-size: 62.5%;
}

body{
    background: #f5f5f5;
    color: #777;
    font-size: 1.3rem;
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

#app{
    width: 100%;
}

.box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container{
    margin-top: -27.5rem;
    padding-bottom: 4rem;
    padding-top: 8.75rem;
    width: 103.75rem;
    margin-left: auto;
    margin-right: auto;

    .intro-card{
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 0 0 #e5e5e5;
        margin-bottom: 4.25rem;
        padding: 6.5rem;
        padding-bottom: 37.3rem;
        text-align: center;
        position: relative;

        .major{
            padding: 0 0 2.13rem 0;
            text-align: center;

            h2{
                margin: 0;
                font-size: 3.21rem;
                color: #646464;
                font-weight: 300;
                line-height: 7.25rem;
            }

            p{
                display: inline-block;
                border-top: solid 2px #e5e5e5;
                color: #777;
                margin: 4.1rem 0 0 0;
                padding: 4.1rem 0 0 0;
                font-size: 2.13rem;
                line-height: 4rem;
                font-weight: 300;
                width: 70rem;
            }
        }

        .image{
            border-radius: 0 0 6px 6px;
            position: absolute;
            left: 0;
            right: 0;
            margin-top: 5rem;
            box-shadow: 0 2px 0 0 #e5e5e5;
            height: 32.25rem;
            overflow: hidden;

            img{
                border-radius: 0 0 6px 6px;
                display: block;
                width: 100%;
                position: absolute;
                top: -28.75rem;
            }

            .mask{
                position: absolute;
                top: 0;
                width: 100%;
                height: 32.25rem;
                background: rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.card-mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.2);
    z-index: 100;
}

.card-wrap{
    width: 100%;
    overflow: hidden;
    padding-right: 2.5rem;
    box-sizing: border-box;
    cursor: default;
    position: relative;
    padding-bottom: 5rem;

    .spinner{
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 30px;
        transform: translateX(-50%);

        &>div{
            background-color: #878787;
            width: 3px;
        }
    }

    .card-box{
        width: 50%;
        float: left;
        margin: 0 2.5rem 3.125rem 0;

        &:nth-child(2n){
            margin-right: -2.5rem;
        }

        .card{
            background: #fff;
            padding: 2.5rem;
            position: relative;
            box-shadow: 0 2.5px 0 0 #e5e5e5;
    
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 12.25rem;
                background-color: hsla(0,0%,100%,0);
                background-image: linear-gradient(hsla(0,0%,100%,0),#fff 75%);
                z-index: 100;
            }
    
            .label{
                font-size: 1.5rem;
                line-height: 3.125rem;
                font-family: MiriamLibre, sans-serif;
                letter-spacing: .125rem;
                font-weight: 600;
    
                span{
                    font-weight: 600;
                    color: #474747;
                }
            }
    
            a.title{
                font-size: 2rem;
                line-height: 3rem;
                color: #474747;
                display: inline-block;
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                transition: all .5s;
                position: relative;
                
                &.long-title{
                    width: 45rem;
                }

                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: #474747;
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: .4s ease-in-out;  
                }
                
                &:hover::before{
                    transform: scaleX(1);
                    visibility: visible; 
                }

                &:hover{
                    color: #000;
                }
            }
    
            .content-box{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                height: 8.25rem;
                line-height: 2.75rem;
                margin: 1.25rem 0 5.625rem 0;
                font-size: 1.5rem;

                h2, h3, h4{
                    display: none;
                }
            }

            .icon-box{
                position: absolute;
                right: 3.125rem;
                bottom: 1.875rem;
                z-index: 9999;
                width: 100%;

                .icon-wrap{
                    float: right;
                    z-index: 9999;
                    border-right: 1px solid #e2e2e2;
                    padding: 0 .625rem;
        
                    img{
                        width: 3rem;
                    }
                }

                .icon-wrap:nth-child(1){
                    border-right: 0 !important;
                }
            }
    
            
    
            a.readmore{
                font-size: 1.5rem;
                z-index: 9999;
                position: absolute;
                bottom: 3.125rem;
                left: 3.125rem;
                color: #474747;
                font-weight: 600;
                transition: all .5s;

                &:hover{
                    color: #000;
                }
            }
        }
    }
}

.card-fade-enter-active, .card-fade-leave-active{
    transition: all 1s;
}

.card-fade-enter, .card-fade-leave-to{
    opacity: 0;
    transform: translateY(30px);
}

.mask-fade-enter-active, .mask-fade-leave-active{
    transition: all .7s;
}

.mask-fade-enter, .mask-fade-leave-to{
    opacity: 0;
}

.aboutme-fade-enter-active, .aboutme-fade-leave-active{
    transition: all .7s;
}

.aboutme-fade-enter, .aboutme-fade-leave-to{
    opacity: 0;
    transform: translateY(30px);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}