.banner{
    padding: 19.3rem 0 23.2rem 0;
    background-attachment: scroll,	fixed;
    background-color: #5e42a6;;
    background-image: url(../../static/images/overlay.png), url(../../static/images/intro.svg);
    background-position: top left,	center center;
    background-repeat: repeat,	no-repeat;
    background-size: auto,	cover;
    color: #fff;
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;

    .wrapper{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    h2{
        font-size: 4rem;
        font-weight: 400;
        line-height: 6rem;
        margin: 0 0 3rem 0;
        padding: 0;
    }

    p{
        font-size: 1.5rem;
        font-weight: 200;
        display: block;
        width: 26.3rem;
        padding-left: 0.3rem;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        line-height: 1.5rem;
        height: 1.5rem;
    }

    .button{
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
        color: #fff;
        border-radius: 3px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        height: 3.9rem;
        line-height: 3.9rem;
        padding: 0 3.8rem;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        margin-top: 3.7rem;
        .button-ripple();
    }
}

.button-ripple() {
    overflow: hidden;
    position: relative;
    transition: background-color .3s linear, border .3s linear;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #000 10%, rgba(0, 0, 0, 0) 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10);
        opacity: 0;
        transition: transform .5s, opacity 1s;
    }

    &:active:after {
        transform: scale(0);
        opacity: .2;
        transition: 0s;
    }
}